@model LinuxPackages.Web.Mvc.ViewModels.Issues.IssueDetailsViewModel
@using LinuxPackages.Data.Models

@{
    ViewBag.Title = "Issue details";
}

<hr />
<div class="row">
    <div class="col-md-3 text-center">
        <small><b>Package</b></small>
    </div>
    <div class="col-md-2 text-center">
        <small>@Html.LabelFor(m => m.Severity)</small>
    </div>
    <div class="col-md-3 text-center">
        <small>@Html.LabelFor(m => m.OpenedOn)</small>
    </div>
    <div class="col-md-2 text-center">
        <small>@Html.LabelFor(m => m.State)</small>
    </div>
    <div class="col-md-2 text-center">
        <small><b>Votes</b></small>
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-center">
        <h4>@Html.ActionLink(Model.Package.Name, "Details", "Packages", new { id = Model.Package.Id })</h4>
    </div>
    <div class="col-md-2 text-center">
        <h5>@Html.DisplayFor(m => m.Severity)</h5>
    </div>
    <div class="col-md-3 text-center">
        <h4>@Html.DisplayFor(m => m.OpenedOn)</h4>
    </div>
    <div class="col-md-2 text-center">
        <h5>@Html.DisplayFor(m => m.State)</h5>
    </div>
    <div class="col-md-2 text-center">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <span class="issue-rating">@Model.PositiveVotes</span>
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> <span class="issue-rating">@Model.NegativeVotes</span>
    </div>
</div>
<hr />
<h2>@Model.Title</h2> by <small>@Model.Author.UserName</small>
@Html.Raw(Model.Content)
<hr />
