@model IEnumerable<LinuxPackages.Web.Mvc.ViewModels.IssueReplies.ListedIssueRepliesViewModel>

@using LinuxPackages.Common.Constants;

@foreach (var reply in Model)
{
    <div class="row">
        <div class="col-sm-1">
            <div class="thumbnail">
                @if (reply.Author.AvatarId != null)
                {
                    <img src="/Files/Avatars/@reply.Author.Id/@reply.Author.AvatarUrl/@(UserConstants.AvatarThumbnailWidth)x@(UserConstants.AvatarThumbnailHeight)" class="img-responsive user-photo" />
                }
                else
                {
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                }
            </div>
        </div>
        <div class="col-sm-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>@reply.Author.FirstName @reply.Author.LastName (@reply.Author.Username)</strong> <span class="text-muted">replied on @reply.CreatedOn</span>
                </div>
                <div class="panel-body" style="word-break: break-word;">
                    @Html.Raw(reply.Content)
                </div>
            </div>
        </div>
    </div>
}