@model LinuxPackages.Web.Mvc.ViewModels.Profile.ProfileViewModel
@{
    ViewBag.Title = "Profile";
}

<div>
    <h4>General</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>First name</dt>
        <dd>@Model.FirstName</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Last name</dt>
        <dd>@Model.LastName</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Email</dt>
        <dd>@Model.Email</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Packages maintained</dt>
        <dd>@Model.PackagesMaintainedCount</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Issues</dt>
        <dd>@Model.IssuesCreatedCount</dd>
    </dl>
    <h4>Manage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [@Html.ActionLink("Change", "ChangePassword")]
        </dd>
    </dl>
</div>
