@model LinuxPackages.Web.Mvc.ViewModels.Profile.ProfileViewModel

@using LinuxPackages.Common.Constants

@{
    ViewBag.Title = "Profile";
}

<div>
    <h4>General</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>First name</dt>
        <dd>@Model.FirstName</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Last name</dt>
        <dd>@Model.LastName</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Email</dt>
        <dd>@Model.Email</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Packages maintained</dt>
        <dd>
            @if (Model.Packages.Count > 0)
            {
                <ul class="list-group">
                    @foreach (var package in Model.Packages)
                    {
                        <li class="list-group-item"><a href="/Packages/Details/@package.Url">@package.Name</a></li>
                    }
                </ul>
            }
            else
            {
                <span>0</span>
            }

        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Issues posted</dt>
        <dd>
            @if (Model.Issues.Count > 0)
            {
                <ul class="list-group">
                    @foreach (var issue in Model.Issues)
                    {
                        <li class="list-group-item"><a href="/Issues/Details/@issue.Url">#@issue.Id</a> @issue.Title [<a href="/Packages/Details/@issue.Package.Url">@issue.Package.Name</a>]</li>
                    }
                </ul>
            }
            else
            {
                <span>0</span>
            }
        </dd>
    </dl>
    <h4>Manage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [@Html.ActionLink("Change", "ChangePassword")]
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Avatar:</dt>
        <dd>
            @if (Model.AvatarId != null)
            {
                <img src="/Files/Avatars/@Model.Id/@Model.AvatarUrl/@(UserConstants.AvatarThumbnailWidth)x@(UserConstants.AvatarThumbnailHeight)" class="img-responsive" />
            }
            [@Html.ActionLink("Change", "ChangeAvatar")]
        </dd>
    </dl>
</div>
